@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  h1,h2,h3,h4,h5,h6{
    @apply font-semibold leading-relaxed my-2 !important;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  ol, ul{
    @apply px-5 py-1 list-outside;
  }
  ol{
    @apply list-decimal ;
  }
  ul{
    @apply list-disc ;
  }
  a{
    @apply text-blue-500;
  }
  p{
    @apply py-2;
  }
  table{
    @apply  border my-4 table-auto ;
  }
  th, td{
    @apply border border-gray-300 dark:border-gray-600 p-2 text-center !important;
  }
  th{
    @apply bg-gray-200 dark:bg-gray-400;
  }
  code{
    @apply text-sm leading-snug rounded-sm duration-200 px-1 py-0.5 bg-gray-100 dark:bg-gray-400;
  }
}

@layer utilities{
  body{
    /* 牛角灰 */
    color:#2d2e36; 
    /* 海参灰 */
    background-color: #fffefa;
  }
  code{
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  }
  .hljs ::selection,.hljs::selection {
    background: #e7e7e750 !important;
  }
}

