@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  h1,h2,h3,h4,h5,h6{
    @apply font-semibold leading-relaxed my-2 !important;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  ol, ul{
    @apply px-5 py-1 list-outside;
  }
  ol{
    @apply list-decimal ;
  }
  ul{
    @apply list-disc ;
  }
  a{
    @apply text-blue-500;
  }
  p{
    @apply py-2;
  }
  table{
    @apply  border my-4 table-auto ;
  }
  th, td{
    @apply border border-gray-300 dark:border-gray-600 p-2 text-center !important;
  }
  th{
    @apply bg-gray-200 dark:bg-gray-400;
  }
  code{
    @apply text-sm leading-snug rounded-sm duration-200 px-1 py-0.5 bg-gray-100 dark:bg-gray-400;
  }
}

@layer utilities{
  body{
    /* 牛角灰 */
    color:#2d2e36; 
    /* 海参灰 */
    background-color: #fffefa;
  }
  /* 不显示滚动条 */
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* 显示滚动条 */
  .scrollbar::-webkit-scrollbar {
    display: block;
  }
  .scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }
  ::-webkit-scrollbar
  {
    width: 8px;
    height: 8px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #bfbfbf;
  }
  code{
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  }
  .hljs ::selection,.hljs::selection {
    background: #e7e7e750 !important;
  }
}

