.a11y-dark{
  --hljs-bg: #2b2b2b;
  --hljs-color: #f8f8f2;

  --hljs-comment-color: #d4d0ab;
  --hljs-deletion-color: #ffa07a;
  --hljs-built_in-color: #f5ab35;
  --hljs-attribute-color: gold;
  --hljs-addition-color: #abe338;
  --hljs-section-color: #00e0e0;
  --hljs-keyword-color: #dcc6e0;
}