.atom-one-light{
  --hljs-bg: #fafafa;
  --hljs-color: #383a42;
  --hljs-selection-bg:#68686850;
  --hljs-comment-color: #a0a1a7;
  --hljs-doctag-color: #a626a4;
  --hljs-deletion-color: #e45649;
  --hljs-literal-color: #0184bb;
  --hljs-addition-color: #50a14f;
  --hljs-attr-color: #986801;
  --hljs-bullet-color: #4078f2;
  --hljs-bullet-in-color: #c18401;
}


pre code.hljs{
  display:block;overflow-x:auto;padding:1em
}
code.hljs{
  padding:3px 5px
}
.hljs{
  color:var(--hljs-color);
  background:var(--hljs-bg)
}
.hljs ::selection,.hljs::selection{
  /* color:var(--hljs-selection-color); */
  background:var(--hljs-selection-bg)
}
.hljs-comment,.hljs-quote{
  color:var(--hljs-comment-color);
  font-style:italic
}
.hljs-doctag,.hljs-formula,.hljs-keyword{
  color:var(--hljs-doctag-color)
}
.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{
  color:var(--hljs-deletion-color)
}
.hljs-literal{
  color:var(--hljs-literal-color)
}
.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{
  color:var(--hljs-addition-color)
}
.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{
  color:var(--hljs-attr-color)
}
.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{
  color:var(--hljs-bullet-color)
}
.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{
  color:var(--hljs-bullet-in-color)
}
.hljs-emphasis{
  font-style:italic
}
.hljs-strong{
  font-weight:700
}
.hljs-link{
  text-decoration:underline
}
