.atom-one-dark{
  --hljs-color: #abb2bf;
  --hljs-bg: #282c34;
  --hljs-selection-bg:#68686850;
  --hljs-comment-color: #5c6370;
  --hljs-doctag-color: #c678dd;
  --hljs-deletion-color: #e06c75;
  --hljs-literal-color: #56b6c2;
  --hljs-addition-color: #98c379;
  --hljs-attr-color: #d19a66;
  --hljs-bullet-color: #61aeee;
  --hljs-built-in-color: #e6c07b;
}

pre code.hljs{
  display:block;overflow-x:auto;padding:1em
}
code.hljs{
  padding:3px 5px
}
.hljs{
  color:var(--hljs-color) !important;
  background:var(--hljs-bg) !important
}
.hljs ::selection,.hljs::selection{
  /* color:var(--hljs-selection-color); */
  background:var(--hljs-selection-bg)
}
.hljs-comment,.hljs-quote{
  color:var(--hljs-comment-color);
  font-style:italic
}
.hljs-doctag,.hljs-formula,.hljs-keyword{
  color:var(--hljs-doctag-color)
}
.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{
  color:var(--hljs-deletion-color)
}
.hljs-literal{
  color:var(--hljs-literal-color)
}
.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{
  color:var(--hljs-addition-color)
}
.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{
  color:var(--hljs-attr-color)
}
.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{
  color:var(--hljs-bullet-color)
}
.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{
  color:var(--hljs-built-in-color)
}
.hljs-emphasis{
  font-style:italic
}
.hljs-strong{
  font-weight:700
}
.hljs-link{
  text-decoration:underline
}
