/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
.default{
  --hljs-bg:#f3f3f3;
  --hljs-color:#444;
  --hljs-selection-bg:#68686850;
  --hljs-comment-color:#697070;
  --hljs-punctuation-color:#444a;
  --hljs-tag-color:#444;
  --hljs-deletion-color: #800;
  --hljs-section-color: #800;
  --hljs-link-color: #ab5656;
  --hljs-literale-color: #695;
  --hljs-addition-color: #397300;
  --hljs-meta-color: #1f7199;
  --hljs-string-color: #38a;
}


pre code.hljs{
  display:block;overflow-x:auto;padding:1em
}
code.hljs{
  padding:3px 5px
}
.hljs{
  color:var(--hljs-color) !important;
  background:var(--hljs-bg) !important
}
.hljs ::selection,.hljs::selection{
  /* color:var(--hljs-selection-color); */
  background:var(--hljs-selection-bg)
}
.hljs-comment{
  color:var(--hljs-comment-color)
}
.hljs-punctuation,.hljs-tag{
  color:var(--hljs-punctuation-color)
}
.hljs-tag .hljs-attr,.hljs-tag .hljs-name{
  color:var(--hljs-tag-color)
}
.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{
  font-weight:700
}
.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{
  color:var(--hljs-deletion-color)
}
.hljs-section,.hljs-title{
  color:var(--hljs-section-color);
  font-weight:700
}
.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{
  color:var(--hljs-link-color)
}
.hljs-literal{
  color:var(--hljs-literale-color)
}
.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{
  color:var(--hljs-addition-color)
}
.hljs-meta{
  color:var(--hljs-meta-color)
}
.hljs-meta .hljs-string{
  color:var(--hljs-string-color)
}
.hljs-emphasis{
  font-style:italic
}
.hljs-strong{
  font-weight:700
}
